@charset "utf-8";
/* CSS Document */
body,div,p,span,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,
form,input,textarea,table,th,td,tr
{ margin:0; padding:0; }
body{list-style:none; font:12px/170% "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;}

em{ font-style:normal; color:#c33;}
a{ color:#06c; text-decoration:none; cursor:pointer;}
a:link{outline:none;}
a:hover{ text-decoration:none;}

form{ border:none;}
input,textarea,select{ vertical-align:middle; font-size:12px; text-align:left; border:none; background:none;}
li{ list-style:none;}
img{ border:0; vertical-align:middle}
ol,ul{list-style:none;}
table{border-collapse:collapse; border-spacing:0;}
th, td{ padding:3px;}
th{ font-weight:normal; }

.clear {
   clear: both;
   font-size: 0px;
   line-height: 0px;
   _zoom: 1;
   _overflow: visible;
}
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
	.clearfix{display: inline-block;}
	/* Hides from IE-mac \*/
	/** html .clearfix {height: 1%;}*/
	.clearfix {display: block;}
.cursorD{ cursor:default;}
.disB{ display:block;}
.disIB{ display:inline-block;}
	
/*文字排版*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.fb{font-weight:bold}
.fn{font-weight:normal;}
.t2{text-indent:2em;}
.lh25{ line-height:25px;}
.lh150{line-height:150%;}
.lh180{line-height:180%;}
.lh200{line-height:200%;}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.cred{ color:red;}
.cblue{ color:#4192F0}
.cgray{ color:#c7a8a0;}
.cblack{ color:#333;}
/*定位*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:auto;margin-right:auto;}
.fl{float:left;}
.fr{float:right;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.vm{verticle-align:middle;}
.pr{position:relative;}
.pa{position:absolute;}
.zoom{zoom:1;}
.hidden{visiility:hidden;}
.none{display:none;}
.b15{ bottom:15px;}
.b-42{ bottom:-42px;}

/*长度高度*/	
.w10{width:10px;}
.w20{width:20px;}
.w25{width:25px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w120{width:120px;}
.w150{width:150px;}
.w180{width:180px;}
.w200{width:200px;}
.w220{width:220px;}
.w230{width:230px;}
.w250{width:250px;}
.w260{width:260px;}
.w290{width:290px;}
.w300{width:300px;}
.w315{width:315px;}
.w302{width:302px;}
.w316{width:316px;}
.w317{width:317px;}
.w343{width:343px}
.w353{width:353px}
.w360{width:360px}
.w400{width:400px;}
.w423{width:423px;}
.w430{width:430px;}
.w440{width:440px;}
.w455{width:455px;}
.w495{width:495px;}
.w500{width:500px;}
.w512{width:512px;}
.w514{width:514px;}
.w550{width:550px;}
.w600{width:600px;}
.w680{width:680px;}
.w700{width:700px;}
.w720{width:720px;}
.w750{width:750px;}
.w800{width:800px;}
.w935{width:935px;}
.w960{width:960px;}
.w1170{width:1170px;}
.w298{width:298px;}
.w228{width:228px;}
.w138{width:138px;}
.w153{width:153px;}
.w103{width:103px;}
.w{width:100%}
.w-100{ width:100%;}
.w-98{ width:98%;}
.w-27{ width:27%;}
.w-33{ width:33%;}
.w-70{ width:70%;}
.h25{ height:25px;}
.h20{ height:20px;}
.h32{ height:32px;}
.h35{height:35px;}
.h45{height:45px;}
.h50{height:50px;}
.h60{height:60px;}
.h80{height:80px;}
.h100{height:100px;}
.h120{height:120px;}
.h150{height:150px;}
.h170{height:170px;}
.h172{height:172px;}
.h176{height:176px;}
.h200{height:200px;}
.h500{height:500px;}
.h520{height:520px;}
.h530{height:530px;}
.h540{height:540px;}
.h750{height:750px;}
.h837{height:837px;}
.h1100{height:1100px;}
.h1500{height:1500px;}
.h{height:100%}

/*边距*/
.mt0{margin-top:0;}
.mt2{ margin-top:2px;}
.mt5{ margin-top:5px;}
.mt7{ margin-top:7px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt18{ margin-top:18px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mt38{ margin-top:38px;}
.mt40{ margin-top:40px;}
.mt45{ margin-top:45px;}
.mt50{ margin-top:50px;}
.mt57{ margin-top:57px;}
.mt60{ margin-top:60px;}
.mt80{ margin-top:80px;}
.mt100{ margin-top:100px;}
.mt140{ margin-top:140px;}
.mt65{ margin-top:65px;}
.mt-57{ margin-top:-57px;}
.mt-30{ margin-top:-30px;}
.mt-18{ margin-top:-18px;}
.mt-10{ margin-top:-10px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
.mb52{margin-bottom:52px;}
.mb100{margin-bottom:100px;}
.mb-5{margin-bottom:-5px;}
.ml5{margin-left:5px;}
.ml7{margin-left:7px;}
.m67{margin-left:67px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml45{margin-left:45px;}
.ml50{margin-left:50px;}
.ml60{margin-left:60px;}
.ml70{margin-left:70px;}
.ml77{margin-left:77px;}
.ml100{margin-left:100px;}
.ml165{margin-left:165px;}
.ml--17{margin-left:-17%;}
.ml-45{margin-left:45%;}
.mr5{margin-right:5px;}
.mr7{margin-right:7px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr50{margin-right:50px;}
.mr70{margin-right:70px;}
.mr100{margin-right:100px;}
.mr115{margin-right:115px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p30{padding:30px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt35{padding-top:35px;}
.pt40{padding-top:40px;}
.pt48{padding-top:48px;}
.pt50{padding-top:50px;}
.pt55{padding-top:55px;}
.pt65{padding-top:65px;}
.pt90{ padding-top:90px;}
.pt100{padding-top:100px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb50{padding-bottom:50px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}
.pl50{padding-left:50px;}
.pl60{padding-left:60px;}
.pl100{padding-left:100px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr50{padding-right:50px;}
.pr60{padding-right:60px;}
.pr70{padding-right:70px;}
.pr90{padding-right:90px;}
.pr100{padding-right:100px;}
.colory{color:#f60;}
.colorg{color:#19ba63;}